<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, appUser-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Product list</title>
</head>
<body>
<h1>Product</h1>
<br>
<h3>ID: <span th:text="${product.id}"/></h3><br>
<h3>NAME: <span th:text="${product.title}"/></h3><br>
<h3>COST: <span th:text="${product.cost}"/></h3><br>
<a href="/products">Вернуться</a>
</body>
</html>