<!DOCTYPE html>
<html lang="ru" ng-app="productApp">
<head>
    <meta charset="UTF-8">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
    <script src="script.js"></script>
    <title>Product list</title>
</head>
<body>

<div class="container" ng-controller="indexController">
    <h1 class="information">Product list</h1>
    <table class="table">
        <thead>
        <tr>
            <th scope="col">ID</th>
            <th scope="col">NAME</th>
            <th scope="col">COST</th>
            <th scope="col">DELETE</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="p in ProductList">
            <th scope="row">{{p.id}}</th>
            <td>{{p.name}}</td>
            <td>
                <button class="btn btn-info" ng-click="changeCost(p.id,-5)">-</button>
                {{p.cost}}
                <button class="btn btn-info" ng-click="changeCost(p.id,5)">+</button>
            </td>
            <td>
                <button class="btn btn-warning" ng-click="deleteProduct(p.id)">DELETE</button>
            </td>
        </tr>

        </tbody>
    </table>
    <a href="addproduct.html" class="btn btn-primary">Add product</a>
</div>
</body>
</html>